<link rel="stylesheet" href="/css/landing_page.css" />

<div class="container">
  <div class="title typing">
    <h1>CODEIAL<span id="dot">.</span><div id="border"></div></h1>
  </div>

  <div class="main-image" id="landing-main">
    <img src="/images/landing_page_main.svg" />
  </div>

  <div class="caption-text">
    A Social Network for the <span id="code">Code blooded</span>.
  </div>
  <div class="signin">
    <button type="button" class="btn btn-info">Sign Up Today!</button>
  </div>
</div>

<script src="/js/landing_page.js"></script>
<!--  -->
