$dark-accent: #938289;
$dark-shade: #212040;
$main-brand-royalblue: #207ce9;

$light-accent: #5ac780;

footer {
  position: static;
  bottom: 0;
  height: 6rem;
  width: 100%;
  background-color: $main-brand-royalblue;
}
