$main-brand-white: #fff;
$dark-shade: #e24e42;
$light-shade: #e9b000;
$light-accent: #eb6e80;
$dark-accent: #008f95;
$hover-mustard: #e4b528;
$hover-aqua: #26a4a9;
$warm-white: rgb(252, 245, 235);

.navbar {
  z-index: 1;
  position: sticky;
  top: 0px;
  margin-top: -2px;
  background-color: transparent;
  transition: 500ms ease;
  line-height: 100%;
  height: 60px;
  .navbar-toggler-icon {
    color: white;
  }
  .btn {
    font-size: 1.2em;
  }
  #profile-pic-header {
    height: 28px;
    width: 28px;
    border-radius: 100%;
  }
  padding: 0.25rem 1rem;
  #logo-header {
    height: 50px;
    width: 50px;
  }
  .btn-link {
    &:hover {
      background-color: #2a285e;
    }
  }
  .btn-outline-success {
    border-radius: 2px;
    color: $dark-accent;
    border-color: transparent;
    &:hover {
      color: white;
      background-color: $dark-accent;
      border-color: $dark-accent;
    }
  }

  //website logo
  .navbar-brand {
    transition: 0.3s all ease-in-out;
    &:hover {
      font-family: "Archivo Black", sans-serif;
      font-size: 2.5em;
      color: $light-shade;
      #dot {
        color: $dark-accent;
      }
    }
    font-family: "Archivo Black", sans-serif;
    font-size: 2.5em;
    color: $dark-accent;
    #dot {
      transition: 500ms ease;

      color: $light-shade;
    }
  }

  a {
    .btn-link {
      &:hover {
        text-decoration: none;
      }
      text-transform: capitalize;
      color: $light-shade;
    }
  }
  button {
    margin: 0 20px;
  }
}
.scrolled {
  background-color: #00686c;
  .btn-outline-success {
    background-color: white;
    color: $dark-accent;
    border-color: transparent;
    &:hover {
      background-color: $hover-mustard;
    }
  }
  .navbar-brand {
    color: white;
    #dot {
      color: white;
    }
    &:hover {
      opacity: 1;
      color: $light-shade;
      #dot {
        color: $light-shade;
      }
    }
  }
}
