$main-brand-royalblue: rgb(252, 245, 235);
$dark-shade: #212040;
$light-shade: #e9b000;
$light-accent: #eb6e80;
$dark-accent: #008f95;
// nav {
//   color: $light-shade;
//   font-size: 1.6rem;
//   line-height: 4rem;
//   display: flex;
//   flex-direction: row;
//   text-transform: capitalize;

//   height: 4rem;
//   justify-content: space-between;
//   background-color: $dark-shade;
//   #logo-header {
//     a {
//       height: 4rem;
//       width: 4rem;
//       padding-left: 20px;
//       padding-right: 20px;
//       &:hover {
//         background-color: #2a285e;
//       }
//       img {
//         height: 100%;
//         width: 100%;
//       }
//     }
//   }
//   ul {
//     margin: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     list-style: none;
//     li {
//       width: 150px;
//       text-align: center;
//       padding-left: 20px;
//       padding-right: 20px;
//       &:hover {
//         background-color: #2a285e;
//       }
//     }
//     a {
//       margin: 0 10px;
//       color: $light-shade;
//       text-decoration: none;
//     }
//   }
// }
.navbar {
  position: sticky;
  top: 0px;
  margin-top: -2px;
  background-color: transparent;
  .navbar-toggler-icon {
    color: white;
  }
  #profile-pic-header {
    height: 28px;
    width: 28px;
    border-radius: 100%;
  }
  padding: 0.25rem 1rem;
  #logo-header {
    height: 50px;
    width: 50px;
  }
  .btn-link {
    &:hover {
      background-color: #2a285e;
    }
  }
  .btn-outline-success {
    border-radius: 2px;
    color: $dark-accent;
    border-color: rgb(255, 244, 229);
    &:hover {
      color: white;
      background-color: $dark-accent;
      border-color: $dark-accent;
    }
  }

  //website logo
  .navbar-brand {
    transition: 0.3s all ease-in-out;
    &:hover {
      font-family: "Archivo Black", sans-serif;
      font-size: 2.5em;
      color: $light-shade;
      #dot {
        color: $dark-accent;
      }
    }
    font-family: "Archivo Black", sans-serif;
    font-size: 2.5em;
    color: $dark-accent;
    #dot {
      color: $light-shade;
    }
  }

  a {
    .btn-link {
      &:hover {
        text-decoration: none;
      }
      text-transform: capitalize;
      color: $light-shade;
    }
  }
  button {
    margin: 0 20px;
  }
}
