$main-brand-royalblue: #FFF;
$dark-shade: #212040;
$light-shade: #E9B000;
$light-accent: #EB6E80;
$dark-accent: #008F95;

body {
  background-color: #fff;
  font-family: "Roboto Mono", monospace;
  margin: 0em;
  #layout-main {
    * {
      box-sizing: border-box;
    }
    height: auto;
    // margin: 3em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* text-align: center; */
}
