body {
  background-image: url("../images/back-ground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  margin: 0em;
  #layout-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
  }
  /* text-align: center; */
}
