.navbar {
  background-color: #212040;
  padding: 0.25rem 1rem; }
  .navbar .navbar-toggler-icon {
    color: white; }
  .navbar #logo-header {
    height: 50px;
    width: 50px; }
  .navbar .btn-link:hover {
    background-color: #2a285e; }
  .navbar a .btn-link {
    text-transform: capitalize;
    color: #f9f8f9; }
    .navbar a .btn-link:hover {
      text-decoration: none; }
  .navbar button {
    margin: 0 20px; }
