body {
  background-image: url("../images/back-ground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
  margin: 0em;
  /* text-align: center; */ }
  body #layout-main {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body #layout-main * {
      box-sizing: border-box; }
